.MMM-MediaSlideshow {

}

.MMM-MediaSlideshow img.fadeInOut,
.MMM-MediaSlideshow video.fadeInOut{
    animation: fadein var(--fadeInTime, 2s), var(--fadeInTime, 2s) fadeout var(--displayDuration, 8s);
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}


@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes slideout {
    from {
      margin-left: 0%;
    }

    to {
        margin-left: 100%;
      }
  }